POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=web_api
PDNS_RECURSOR_API_KEY=changeme
PDNS_AUTH_API_KEY=changeme
BASE_DOMAIN=runfission.test
USER_DOMAIN=fissionuser.test 
APP_DOMAIN=fissionapp.test
