web:
  host: http://runfission.test
  port: 1337
  tls: false
  environment: localhost
  pretty: true
  monitor: false
  useEKG: false
  zone_id: runfission.test.

ipfs:
  timeout: 10
  urls:
    - http://localhost:5001
  remotePeers:
    - /ip4/127.0.0.1/tcp/4001/p2p/12D3KooWMQSgdfa4tUrDhkFx4zP3ZpgT1ryj9KH5RGUae62Vsc7y

storage:
  stripe_count: 4
  conns_per_stripe: 50
  conn_ttl: 10
  postgresql:
    host: localhost
    database: web_api
    username: postgres
    password: postgres

auth:
  fission_did: did:key:z6MkgYGF3thn8k1Fv4p4dWXKtsXCnLH7q9yw4QgNPULDmDKB

aws:
  mock_route53: true
  access_key: FAKEKEY
  secret_key: FAKEKEY
  zone_id: FAKE

pdns:
  api_url: http://localhost:8081
  api_key: changeme

fission_file_system:
  base_user_data_root_domain: fissionuser.test
  base_user_data_zone_id: fissionuser.test.
  default_data_cid: Qmc5m94Gu7z62RC8waSKkZUrCCBJPyHbkpmGzEePxy2oXJ # empty string

web_app:
  base_domain_name: fissionapp.test
  base_aws_zone_id: fissionapp.test.
  placeholder_cid: QmRVvvMeMEPi1zerpXYH9df3ATdzuB63R1wf3Mz5NS5HQN # Fission logo on a blank page
  live_drive_url: drive.fission.codes

send_in_blue:
  api_key: xkeysib-KEY
  base_url: https://api.sendinblue.com
  verification_email_template_id: 17
  recovery_email_template_id: 26
  recovery_app_url: https://dashboard.fission.codes/recover/
