web:
  host: http://localhost
  port: 1337
  tls: false
  pretty: true

ipfs:
  url: http://localhost:5001
  gateway: ipfs.runfission.com
  timeout: 3600
  remotePeer: /ip4/3.215.160.238/tcp/4001/ipfs/QmVLEz2SxoNiFnuyLpbXsH6SvjPTrHNMU88vCQZyhgBzgw

storage:
  stripe_count: 4
  conns_per_stripe: 50
  conn_ttl: 10
  postgresql:
    host: localhost
    database: web_api

auth:
  fission_did: did:key:z5L6nKYMp8GFoMHmMNYvCncRHkuycKHw27K43k2x2pPF3hDAMsgc991EhAqt8HVK83Z1vmqhgy

aws:
  route53_mock_enabled: true
  # access_key:
  # secret_key:
  # zone_id:

fission_file_system:
  base_user_data_root_domain: fission.name
  default_data_cid: Qmc5m94Gu7z62RC8waSKkZUrCCBJPyHbkpmGzEePxy2oXJ # empty string

web_app:
  base_app_domain_name: fission.app
  app_placeholder_cid: QmRVvvMeMEPi1zerpXYH9df3ATdzuB63R1wf3Mz5NS5HQN # Fission logo on a blank page
