server:
  host: http://localhost
  port: 1337
  tls: false
  pretty: true
  zone_id: Z1ABCDEF

ipfs:
  url: http://localhost:5001
  timeout: 3600
  remotePeer: /dns4/node.runfission.com/tcp/4001/ipfs/QmVLEz2SxoNiFnuyLpbXsH6SvjPTrHNMU88vCQZyhgBzgw

storage:
  stripe_count: 4
  conns_per_stripe: 50
  conn_ttl: 10
  postgresql:
    host: localhost
    database: web_api

auth:
  fission_did: did:key:zStEZpzSMtTt9k2vszgvCwF4fLQQSyA15W5AQ4z3AR6Bx4eFJ5crJFbuGxKmbma4

aws:
  mock_route53: true
  # access_key:
  # secret_key:
  # zone_id:

fission_file_system:
  base_user_data_root_domain: fission.name
  base_user_data_zone_id: ABCDEF
  default_data_cid: Qmc5m94Gu7z62RC8waSKkZUrCCBJPyHbkpmGzEePxy2oXJ # empty string

web_app:
  base_app_domain_name: fission.app
  base_user_data_zone_id: ABCDEF
  app_placeholder_cid: QmRVvvMeMEPi1zerpXYH9df3ATdzuB63R1wf3Mz5NS5HQN # Fission logo on a blank page

send_in_blue:
  api_key: xkeysib-KEY
  base_url: https://api.sendinblue.com
