web:
  host: http://localhost
  port: 1337
  tls: false
  pretty: true
  monitor: false

ipfs:
  url: http://localhost:5001
  timeout: 3600

storage:
  stripeCount: 4
  connsPerStripe: 50
  connTTL: 10
  postgresql:
    host: localhost
    database: web_api
aws:
  # access_key:
  # secret_key: 
  # zone_id: 
  # domain_name: 
