web:
  host: http://localhost
  port: 1337
  tls: false
  pretty: true
  monitor: false

ipfs:
  url: http://localhost:5001
  timeout: 3600

storage:
  stripe_count: 4
  conns_per_stripe: 50
  conn_ttl: 10
  postgresql:
    host: localhost
    database: web_api
aws:
  # access_key:
  # secret_key:
  # zone_id:
  # domain_name:
